body{
    background-color: purple;
    align-content:center;
}
div{
    background-image: url(bkg.png);
    background-origin:border-box;
    background-clip:border-box;
    width: 800px;
    align-content:center;
    margin-right:auto;
    margin-left: auto;
    color: darkorange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200px;
    font-style:italic;
    line-height:normal;
    text-align: left;
    text-transform:capitalize;
}
footer{
    color: gray
}
.town{
    border: thick solid black;
    width:400px;
    float:left
}
nav a{
    display: inline-block;
    padding: 4px;
    background-color: darkorange;
    border-bottom: solid black;
    text-decoration: none;
}
nav{
    text-align:center;
}
nav a:hover{
    text-decoration: double;
    color:orangered;
}
figcaption{
    color: yellow;
    width: 200px;
    margin-right:auto;
    margin-left:auto;
}
header h1{
    background-color: black;
    border: 300px;
    border-radius: 25%;
    width: 300px;;
    height: 50px;
    margin-right:auto;
    margin-left:auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 20px;
    box-shadow: 5px 5px 15px orangered;
}
header a:hover{
    text-decoration-color: orange;
}
main p{
    font-weight: bolder;
}
.clr{
    color:yellow
}